* {
    font-size: 10pt;
}

a:link, a:hover, a:active, a:visited {
    color: #0000FF;
}

#table{
    display:table;
}
.cell{
    display: table-cell;
    min-width: 150px;
}
.row{
    display: table-row;
}
.active{
    background-color: #6495ED;
}
#addFolder{
    width:25px;
}
#deleteElement{
    width:25px;
}

#actions{
    display: inline ;
}